<div class="orders-table-container">
  <p-table [value]="orders" [lazy]="true" (onLazyLoad)="loadOrders($event)" [loading]="loading" stateStorage="local"
    stateKey="main-orders-table" scrollHeight="flex" [rows]="10" [virtualRowHeight]="34" [virtualScroll]="true"
    [totalRecords]="90" [scrollable]="true">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="clientOrder">id<p-sortIcon field="clientOrder">
          </p-sortIcon>
        </th>
        <th>status
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr style="height:74px">
        <td class="order-cell_id">{{order.id}}
        </td>
        <td>{{order.orderStatus}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
